*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: sandybrown;
}
#firstflag{
    margin: 3% 80% 0% 5%;
}
#top{
    padding: 15% 45% 0% 0%;
    background-color: black;
}
#middle{
    padding: 15% 45% 0% 0%;
    background-color: red;
}
#bottom{
    padding: 15% 45% 0% 0%;
    background-color: yellow;
}

#secondflag{
    margin: 3% 60% 0% 25%;
}
#top2{
    padding: 15% 45% 0% 0%;
    background-color: green;
}
#middle2{
    padding: 15% 45% 0% 0%;
    background-color: red;
}
#bottom2{
    padding: 15% 45% 0% 0%;
    background-color: whitesmoke;
}

#thirdflag{
    margin: 3% 80% 0% 5%;
}
#top3{
    padding: 15% 45% 0% 0%;
    background-color:red;
}
#middle3{
    padding: 15% 45% 0% 0%;
    background-color: white;
}
#bottom3{
    padding: 15% 45% 0% 0%;
    background-color: red;
}

#fourthflag{
    margin: 3% 80% 0% 5%;
}
#top4{
    float: left;
    padding: 50% 33% 0% 0%;
    background-color:blue;
}
#middle4{
    float: left;
    padding: 50% 33% 0% 0%;
    background-color: white;
}
#bottom4{
    float: left;
    padding: 50% 33% 0% 0%;
    background-color: red;
}

#fifthflag{
    margin: 3% 60% 75% 25%;
}
#top5{
    padding: 25% 50% 0% 0%;
    background-color:blue;
}
#bottom5{
    padding: 25% 50% 0% 0%;
    background-color: yellow;
}

#sixthflag{
    margin: 3% 80% 0% 5%;
}
#top6{
    float: left;
    padding: 50% 33% 0% 0%;
    background-color:black;
}
#middle6{
    float: left;
    padding: 50% 33% 0% 0%;
    background-color: yellow;
}
#bottom6{
    float: left;
    padding: 50% 33% 0% 0%;
    background-color: red;
}

#seventhflag{
    margin: 3% 60% 0% 25%;
}
#top7{
    float: left;
    padding: 50% 33% 0% 0%;
    background-color:darkblue;
}
#middle7{
    float: left;
    padding: 50% 33% 0% 0%;
    background-color: yellow;
}
#bottom7{
    float: left;
    padding: 50% 33% 0% 0%;
    background-color: red;
}

#eighthflag{
    margin: 3% 40% 0% 45%;   
}
#top8{
    padding: 15% 45% 0% 0%;
    background-color: white;
}
#middle8{
    padding: 15% 45% 0% 0%;
    background-color: blue;
}
#bottom8{
    padding: 15% 45% 0% 0%;
    background-color: red;
}