*{
    padding: 0%;
    margin: 0%;
}

#topleft{
    position: fixed;
    margin: 20% 70% 0% 25%;
    padding: 5%;
    border-bottom: solid;
    border-right: solid;
}
#topcenter{
    position: fixed;
    margin: 20% 70% 0% 35%;
    padding: 5%;
    border-right: solid;
    border-bottom: solid;
}
#topright{
    position: fixed;
    margin: 20% 70% 0% 45%;
    padding: 5%;
    border-bottom: solid;
}
#middleleft{
    position: fixed;
    margin: 30% 70% 0% 25%;
    padding: 5%;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
}
#middlecenter{
    position: fixed;
    margin: 30% 70% 0% 35%;
    padding: 5%;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}
#middleright{
    position: fixed;
    margin: 30% 70% 0% 45%;
    padding: 5%;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}
#bottomleft{
    position: fixed;
    margin: 40% 70% 0% 25%;
    padding: 5%;
    border-right: solid;
}
#bottomcenter{
    position: fixed;
    margin: 40% 70% 0% 35%;
    padding: 5%;
    border-left: solid;
}
#bottomright{
    position: fixed;
    margin: 40% 70% 0% 45%;
    padding: 5%;
    border-left: solid;
}
